<section id="about-me">

    <h2>
        About Me
    </h2>
    
    <p>I’m Nicolas Castellano, a passionate software developer based in the beautiful province of Nova Scotia, Canada. With a keen interest in backend and cloud development, I specialize in crafting robust digital solutions that scale seamlessly.</p>
    
    <p>My journey in software development has been diverse and rewarding. I’ve honed my skills across various technologies, including Python, JavaScript, Kotlin, Java, Golang, PHP, and C#/.Net. Whether it’s building efficient APIs, architecting cloud infrastructure, or optimizing database performance, I thrive on the challenges that backend development presents.</p>
    
    <p>My GitHub portfolio, available at <a href="https://github.com/TheAttentionSeeker5050">github.com/TheAttentionSeeker5050</a>, is a testament to my commitment to crafting reliable and scalable solutions. Please contact me if you need a professional software developer with grounded knowledge in Software Architecture, Third Party API Integrations, Development Lifecycle, and Deployment to Cloud Services such as AWS, DigitaOcean, and Google Cloud.</p>
</section>