@use 'sass:color';

// the color palette will be the following:
// - yellow
// - red
// - dark-blue
// - black/white
// 3 tones of each
// with hex format

$yellow-100: #FFD700;
$yellow-200: #FFC400;
$yellow-300: #FFB800;
$red-100: #FF6347;
$red-200: #FF4500;
$red-300: #FF0000;
$red-400: rgb(176, 5, 40);
$dark-blue-100: #02024b;
$dark-blue-200: #00008B;
$dark-blue-300: #0000CD;
$dark-blue-400: #0000FF;
$dark-blue-500: #578cd7;
$turquoise-100: #40E0D0;
$turquoise-200: #20B2AA;
$turquoise-300: #008080;
$gray-100: #d4d4d4;
$gray-200: #b8b8b8;
$gray-300: #6b6b6b;
$black: #000000;
$white: #FFFFFF;

body {
    // make background color a gradient of red to dark-blue to black to bottom
    background: linear-gradient(to bottom, $red-400, $dark-blue-100, $black);
    color: $white;
}

a {
    color: $white;
}

h1{
    color: $yellow-100;
}

h2, h3, h4, h5, h6 {
    color: $yellow-300;
}

header {
    #page-title, nav ul li a {
        color: $yellow-300;
    }

    #page-title:hover {
        color: $yellow-100;
    }

    nav {
        ul {
            li {
                a {
                    border: 2px solid $yellow-300;
                }

                a:hover {
                    background-color: $yellow-300;
                    color: white;
                    border-color: white;
                }
            }
        }
    }
}

footer {
    color: $yellow-100;
}

#about-me, #services, #index-heading {
    a {
        color: $yellow-100;
    }
}


#about-me {
    border: 2px solid $turquoise-200;
    
    h1, h2 {
        background-color: $turquoise-200;
        color: white;
    }

    a {
        color: $turquoise-200;
    }
}


#about-me {
    border: 2px solid $turquoise-200;
    
    h1, h2 {
        background-color: $turquoise-200;
        color: white;
    }

    a {
        color: $turquoise-200;
    }
}

#contact-me {
    border: 2px solid $yellow-300;
    
    h1, h2 {
        background-color: $yellow-300;
        color: white;
    }

    a {
        color: $yellow-300;
    }
}

#services {

    h2 {
        background-color: $yellow-300;
        color: white;
    }
}


#portfolio-list-items {
    li {
        border: 2px solid $turquoise-200;
        height: min-content;

        .portfolio-item-link div h2 {
            color: $turquoise-100;
            font-size: 1rem;
            font-weight: normal;
        }

        .portfolio-item-link div h2:hover {
            color: $yellow-100;
        }

        &:hover {
            background-color: $turquoise-300;
            color: $white;
            border-color: $white;

            // make a color transition for this element on hover
            transition: all 0.5s;

            .portfolio-item-link div h2 {
                color:  $yellow-100;
            }
        }
    }
}