@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto Mono', "Space Mono", "Noto Sans Mono", monospace;
}

header {
    #page-title, nav ul li a {
        text-decoration: none;
    }

    #page-title {
        font-size: 1.4rem;
    }
    
    nav {
        ul {
            li {
                a {
                    // padding: 6px 12px;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
}