main {
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

header {
    #header-notch {
        width: 100%;
    }

    nav, ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

    }

    nav {
        margin: 16px;
        
        ul {
            list-style-type: none;

            a {
                padding: 6px 12px;
            }
        }
    }
}

footer {
    text-align: center;
    margin: 20px 16px;
}

#index-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin: 16px;
    }

    img {
        height: 160px;
    }
}

#about-me, #services, #index-heading, #contact-me, #project-page-content-wrapper, #project-page-main, #blog-page-main {
    max-width: 1000px;
    justify-self: center;
}

#about-me, #services, #portfolio-list-items, main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#about-me, #contact-me, #portfolio-list-container {
    h1, h2, p {
        padding: 12px;
    }

    h1 {
        text-align: center;
    }
}
#services, #about-me, #contact-me {

    ul {
        padding-left: 32px;
    }
}

#services {
    h2 {
        padding: 8px 16px;
    }

    #services-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.2rem;

        div ul {
            padding: 20px;
        }
    }
}


#portfolio-list-items {
    padding: 12px;
    list-style: none;

    li .portfolio-item-link {
        display: flex;
        flex-direction: row;

        img {
            height: 150px;
            width: 200px;
            object-position: center;
            object-fit: cover;
        }

        div {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 12px;
            gap: 1rem;

            h2, p {
                padding: 0;
            }
        }
    }
}

#back-button {
    padding: 8px 16px;
    align-self: flex-start;
}

#project-page-content-wrapper, #blog-content-wrapper {
    display: flex;
    flex-direction: column;
    h1, h2, h3, p, ul {
        padding: 8px 16px;
    }

    ul {
        padding-left: 36px;
    }

}

#project-thumbnail img {
    width: 100%;
    object-fit: cover;
    object-position:top;
}

#project-thumbnail {
    align-self: stretch;
    margin-bottom: 20px;
}

#project-repository-links-section {
    margin: 20px 0;
}


// media queries for mobile
@media screen and (max-width: 600px) {
    #index-heading {
        flex-direction: column;

        img {
            height: auto;
        }
    }

    header {
        nav {
            flex-direction: column;
            justify-content: center;

            ul {
                flex-direction: column;
                gap: 1.5rem;
                justify-content: stretch;

                li {
                    display: flex;
                    
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }

    #portfolio-list-items {
        li .portfolio-item-link {
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }

            .github-repo-link-wrapper {
                text-align: center;
            }
        }
    }
}


